form {
    input {
        width: stretch;
        height: 40px;
        padding: 8px;
        border: 1px solid gray;
    }
    input:focus {
        outline: orangered;
    }
    select {
        width: stretch;
        height: 40px;
        padding: 8px;
        border: 1px solid gray;
    }
    select:focus {
        outline: orangered;
    }
    textarea{
        width: stretch;
        height: 100px;
        padding: 8px;
        border: 1px solid gray;
    }
}
