table {
  width: stretch;
  text-align: center;
}
form input {
  width: stretch;
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
}
form select {
  width: stretch;
  height: 40px;
  padding: 8px;
  border: 1px solid gray;
}
