<app-alert [(ErrorMenssages)]="ERROR_MENSAGES" [(SuccessMensage)]="SUCCESS_MENSAGES"></app-alert>

<div *ngIf="DATALIST">
    <app-data-table 
        [TABLE_LOADING]         = "TABLE_LOADING"
        [REMOVEMODAL_LOADING]   = "REMOVEMODAL_LOADING"
        [HEADERLIST]            = "HEADERLIST"
        [CONTENTLIST]           = "DATALIST.categoria" 
        (showModal)             = "openModal($event)"
        (searchValue)           = "procurar($event)"
        (editElement)           = "saveEditData($event)"
        (removeElement)         = "deletar($event)">
    </app-data-table>
</div>

<ng-template #filters let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filtros</h4>
        <button id="closeFilterModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="filterForm" nbSpinnerStatus="warning" [nbSpinner]="FILTERMODAL_LOADING">
            <div class="form-group">
                <div class="container">
                    <label>Nome:</label><br>
                    <input name="nome" formControlName="valor">
                    <br><br>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="clearFilterForm()">Limpar Filtros</button>
        <button type="button" class="btn btn-outline-dark" (click)="filtrar()">Filtrar</button>
    </div>
</ng-template>

<ng-template #submitForm let-modal>
    <app-alert [(ErrorMenssages)]="ERROR_MODAL_MENSAGES"></app-alert>

    <div nbSpinnerStatus="warning" [nbSpinner]="ADDMODAL_LOADING">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Adicionar {{TITLE}}</h4>
            <button id="closeAddModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <app-taxas-form [isEditMode]="false" (RecourceFormData)="adicionar($event)"></app-taxas-form>
    </div>
</ng-template>

<ng-template #editForm let-modal>
   <app-alert [(ErrorMenssages)]="ERROR_MODAL_MENSAGES"></app-alert>

    <div nbSpinnerStatus="warning" [nbSpinner]="EDITMODAL_LOADING">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Atualizar</h4>
            <button id="closeEditModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <app-taxas-form [isEditMode]="true" [EditFormData]="TEMPITEM" (EditElement)="atualizar($event)"></app-taxas-form>
    </div>
</ng-template>