<div class="modal-body">
    <form [formGroup]="resourceForm">
        <div class="form-group">
            <div class="container">
                <label>Nome:</label><br>
                <input name="nome" formControlName="nome">
                <br><br>

                <label>Email:</label><br>
                <input name="email" formControlName="email">
                <br><br>
                
                <div *ngIf="!isEditMode">
                    <label>Senha:</label><br>
                    <input name="senha" formControlName="senha" type="password">
                    <br><br>
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <label>Tipo:</label><br>
                        <select name="cpf" formControlName="tipoId">
                            <option [ngValue]="1">Pessoa Física</option>
                            <option [ngValue]="2">Pessoa Jurídica</option>
                        </select>
                    </div>
                    <div class="col-md-6">
                        <label>CPF/CNPJ:</label><br>
                        <input name="cpf" formControlName="cpfCnpj" [brmasker]="{person: true}">
                        <br><br>
                    </div>
                </div>

                <label>Perfil:</label><br>
                <select name="cpf" formControlName="perfilId">
                    <option [ngValue]="1">Cliente</option>
                    <option [ngValue]="2">Fornecedor</option>
                    <option [ngValue]="3">Administrador</option>
                    <option [ngValue]="4">Colaborador</option>
                </select>
                <br><br>

                <label>Inativo:</label><br>
                <select name="endereco" formControlName="inativo"> 
                    <option [ngValue]="true">Sim</option>
                    <option [ngValue]="false">Não</option>
                </select>
                <br><br>
            </div>
        </div>
    </form>
</div>

<div class="modal-footer">
    <button *ngIf="!isEditMode" type="button" class="btn btn-outline-dark" (click)="enviar()">Adicionar</button>
    <button *ngIf="isEditMode" type="button" class="btn btn-outline-dark" (click)="atualizar()">Atualizar</button>
</div>