#form {
    input {
        padding: 10px;
        margin-bottom: 5px;
        border: 1px solid gray;
        color: gray;
    }

    input:focus {
        outline: orangered;
        border: solid 1px orangered;
    }

    button {
        background-color: orangered;
        color: white;
        border: unset;
        padding: 10px;
        width: 100px;
        margin-top: 10px;
    }

    button:hover {
        background-color: rgb(183, 51, 2);
    }

    nb-card {
        text-align: center;
    }
}

nb-card-body {
    text-align: center;
    padding: 30px 80px;

    img {
        width: 150px;
        margin-bottom: 15px;
    }
}