
form {
    input {
        width: stretch;
        height: 40px;
        padding: 8px;
        border: 1px solid gray;
    }
    select {
        width: stretch;
        height: 40px;
        padding: 8px;
        border: 1px solid gray;
    }
    textarea {
        width: stretch;
        height: 80px;
        padding: 8px;
        border: 1px solid gray;
    }
}