<app-alert [(ErrorMenssages)]="ERROR_MENSAGES" [(SuccessMensage)]="SUCCESS_MENSAGES"></app-alert>

<div *ngIf="DATALIST; else loading">
    <app-data-table 
        [TABLE_LOADING]         = "TABLE_LOADING"
        [REMOVEMODAL_LOADING]   = "REMOVEMODAL_LOADING"
        [HEADERLIST]            = "HEADERLIST"
        [CONTENTLIST]           = "DATALIST.solicit" 
        [HIDE_NEW]              = "true"
        [ONLY_SEE]              = "false"
        (showModal)             = "openModal($event)"
        (searchValue)           = "procurar($event)"
        (editElement)           = "saveEditData($event)"
        (removeElement)         = "deletar($event)">
    </app-data-table>
</div>

<ng-template #loading>
    <div align="center">
        <h1 style="font-size: 20px; color: orangered">Carregando...</h1>
    </div> 
</ng-template>

<ng-template #filters let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Filtros</h4>
        <button id="closeFilterModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="filterForm" nbSpinnerStatus="warning" [nbSpinner]="FILTERMODAL_LOADING">
            <div class="form-group">
                <div class="container">
                    <label>Cliente:</label><br>
                    <input name="nomeCliente" formControlName="nomeCliente">
                    <br><br>

                    <!-- <label>Observação:</label><br>
                    <textarea name="observacao" formControlName="observacao"></textarea>
                    <br><br> -->

                    <label>E-mail:</label><br>
                    <input name="emailCliente" formControlName="emailCliente">
                    <br><br>

                    <label>Senha:</label><br>
                    <input name="emailCliente" formControlName="emailCliente">
                    <br><br>

                    <label>Endereço:</label><br>
                    <input name="endereco" formControlName="endereco">
                    <br><br>

                    <label>Prazo:</label><br>
                    <input type="date" name="dataFinal" formControlName="dataFinal">
                    <br><br>

                    <div *ngIf="categoriaList">
                        <label>Categoria:</label><br>
                        <select formControlName="categoriaId">
                            <option *ngFor="let categoria of categoriaList" [ngValue]="categoria.id">{{ categoria.valor }}</option>
                        </select>
                    </div>

                    <label>Status:</label><br>
                    <select formControlName="status">
                        <option [value]='1'>Pendente</option>
                        <option [value]='2'>Confirmação Pendente</option>
                        <option [value]='3'>Taxa Extra Pendente</option>
                        <option [value]='4'>Aguardando Serviço</option>
                        <option [value]='5'>Aguardando Avaliação</option>
                        <option [value]='6'>Concluído</option>
                        <option [value]='7'>Cancelado</option>
                    </select>

                    <label>Ativo:</label><br>
                    <select name="endereco" formControlName="ativo"> 
                        <option [ngValue]="true">Sim</option>
                        <option [ngValue]="false">Não</option>
                    </select>
                    <br><br>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="clearFilterForm()">Limpar Filtros</button>
        <button type="button" class="btn btn-outline-dark" (click)="filtrar()">Filtrar</button>
    </div>
</ng-template>

<ng-template #submitForm let-modal>
    <app-alert [(ErrorMenssages)]="ERROR_MODAL_MENSAGES"></app-alert>

    <div nbSpinnerStatus="warning" [nbSpinner]="ADDMODAL_LOADING">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Adicionar {{TITLE}}</h4>
            <button id="closeAddModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <app-solicitacoes-form [CATEGORIALIST]="categoriaList" [isEditMode]="false" (RecourceFormData)="adicionar($event)"></app-solicitacoes-form>
    </div>
</ng-template>

<ng-template #editForm let-modal>
   <app-alert [(ErrorMenssages)]="ERROR_MODAL_MENSAGES"></app-alert>

    <div nbSpinnerStatus="warning" [nbSpinner]="EDITMODAL_LOADING">
        <div class="modal-header">
            <h4 class="modal-title" id="modal-basic-title">Atualizar {{ TEMPITEM.nomeCliente }}</h4>
            <button id="closeEditModal" type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <app-solicitacoes-form [CATEGORIALIST]="categoriaList" [isEditMode]="true" [EditFormData]="TEMPITEM" (EditElement)="atualizar($event)" (ReactiveElement)="reativar($event)"></app-solicitacoes-form>
    </div>
</ng-template>