<nb-layout>
    <nb-layout-header fixed *ngIf="!loginHidders">
        <button (click)="toggle()"><nb-icon icon="menu-outline"></nb-icon></button>
        <img src="assets/img/ineed.png" alt="">
    <!-- 
        <nb-user size="large"
            name="Jonh Doe"
            title="Engineer"
            onlyPicture>
        </nb-user> -->
    </nb-layout-header>

    <nb-sidebar tag="left" *ngIf="!loginHidders">
        <nb-menu [items]="items"></nb-menu>
    </nb-sidebar>

    <nb-layout-column>
        <router-outlet></router-outlet>
    </nb-layout-column>
</nb-layout>